@import url('https://fonts.cdnfonts.com/css/arial');

@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
}

.padding{
  padding: .4rem;
}